/* <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous"> */

/* 070707-28231c-513b3c-655356-c1eeff */

@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700');


*{
  box-sizing: border-box;
}

body {
  background: #28231c;
  color: #c1eeff;
  font-family: 'Rajdhani', sans-serif;
}

.navBar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 10vh;
  position: relative;
  margin: auto;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  margin: 10px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.visited-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  height: 35vh;
}

.pre-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 15vh;
  position: relative;
}

input {
  border-radius: 10px;
  background-color: #655356;
  color: #c1eeff;
  border: solid .5px #c1eeff;
  padding: 10px;
  height: 30px;
}

.add-brewery-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 15vh;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75vw;
  margin: 10px;
}

button {
  width: 7vw;
  height: 5vh;
  border-radius: 10px;
  background-color: #c1eeff;
  color: #655356;
  border: solid .5px #c1eeff;
}

button:hover {
  cursor: pointer;
  background-color: #655356;
  color: #c1eeff;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
}

.App {
  text-align: center;
}

.list-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  width: 32%;
  margin: 10px;
  border: 2px solid #c1eeff;
  padding: 10px;
}

.list-container:hover {
  background-color: #513b3c;
  color: #c1eeff;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.list-buttons {
  margin: 10px;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.edit-comment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
}

#visited {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
}

img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 65%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.alt-text {
  font-size: 24px;
  text-transform: uppercase;
}

.add-btn:visited {
  background-color: #28231c;
}

