/* .list-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    width: 30%;
    margin: 10px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 50%;
    margin: 5px;
} */